.overview {
    background-image: url("../images/logo-background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding:40px 10px;
    background-color: #EDF0F5;
    .container {
        .overview-left {
            color: #fff;
            .price-paid {
                span.start-up {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: right;
                    font-variant: small-caps;
                    color: #eb175c;
                }
                span.paid-year {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    /* identical to box height */
                    display: inline-block;
                    margin-bottom: 40px;
                    letter-spacing: 0.02em;
                    color: #ffffff;
                }
                .price {
                    position: relative;
                    sup {
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 120%;
                        position: absolute;
                        top: 12px;
                        left: -15px;
                    }
                    .month-price {
                        font-weight: 700;
                        font-size: 72px;
                        line-height: 120%;
                        letter-spacing: 0.02em;
                    }
                    .month-word {
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 29px;
                        letter-spacing: 0.02em;
                    }
                }
            }
            ul {
                list-style: none;
                position: relative;
                padding: 0;
                left: -15px;
                li {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.02em;
                    display: flex;
                    margin-bottom: 30px;
                }
                li::before {
                    content: "\2022";
                    color: #004cff;
                    font-weight: bold;
                    margin: 0px 12px;
                    font-size: 30px;
                    position: relative;
                    top: -2px;
                }
            }
        }
        .form {
            padding: 16px;
            max-width: 450px;
            background: #ffffff;
            box-shadow: 0px 0px 2px rgba(145, 158, 171, 0.24),
                0px 16px 32px -4px rgba(145, 158, 171, 0.24);
            border-radius: 16px;
            text-align: center;
            h1 {
                letter-spacing: 0.02em;
                font-weight: 700;
                // font-size: 28px;
            }
            p {
                letter-spacing: 0.03em;
                font-weight: 400;
                font-size: 16px;
                color: #181b20;
            }
            form {
                color: rgb(250, 10, 10);
                .input-div {
                    position: relative;

                    input {
                        padding: 13px;
                        box-shadow: none;
                        max-width: 410px;
                    }

                    .form-control + label {
                        color: #858484;
                        position: absolute;
                        top: 15px;
                        left: 15px;
                        transition: all 0.5s;
                        background: #fff;
                    }

                    .form-control:focus + label {
                        top: -15px;
                        left: 10px;
                        padding: 5px;
                        transform: scale(0.8);
                        transform-origin: top left;
                    }
                }
                button[type="submit"] {
                    width: 100%;
                    background: #004CFF;
                    border-radius: 8px;
                    padding: 15px;
                }
            }
        }
    }
}
@media (max-width: 991.98px) {
    .overview {
        padding: 30px 10px;
    }
    .overview .container .overview-left .price-paid {
        padding:0 20px;
        
    }
    // .overview .container .overview-left .price-paid span.start-up {
    // }
    // .overview .container .overview-left .price-paid span.paid-year {
    // }

    // .overview .container .overview-left .price-paid .price {
    // }
    // .overview .container .overview-left .price-paid .price sup {
    // }
    // .overview .container .overview-left .price-paid .price .month-price {
    // }
    // .overview .container .overview-left .price-paid .price .month-word {
    // }
    // .overview .container .overview-left ul {
    // }
    // .overview .container .overview-left ul li {
    // }
}
